@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: "Poppins",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items:center ;
    min-height: 100vh;
    background: url(bgm.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper{
    width: 420px;
    background: transparent;
    border: 1px solid rgba(255,255,255,.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    backdrop-filter: blur(5px);
    color: aliceblue;
    border-radius: 20px;
    padding: 30px 40px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin:30px 0;
    position: relative;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline:none;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: aliceblue;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: aliceblue;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
}
.wrapper .rem-forg{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin:-15px 0px 15px;
}
.rem-forg label input{
    accent-color: white;
    margin-right: 3px;
}
.rem-forg a{
    text-decoration: none;
    color: aliceblue;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background:white;
    border: none;
    outline:none;
    border-radius: 40px;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.wrapper .reg-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0;
}
.reg-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.wrapper .btn:hover{
    background: #1f142d;
    color: aliceblue;
    transition-duration: 0.3s;
}
.back-video{
    position: fixed;
   
   width: 100%;
  
    object-fit: cover;
}
.back-video video {
    min-width: 100%;
    min-height: 100%;
    
    object-fit: cover;
}

@media(max-aspect-ratio:16/9){
    .back-video{
        width:auto;
        height: 100%;
    }
}
@media(min-aspect-ratio:16/9){
    .back-video{
        width:100%;
        height:auto;
    }
}